torch==2.6.0
transformers==4.49.0
datasets==3.3.2
accelerate==1.4.0
peft==0.14.0
evaluate==0.4.3
PyYAML==6.0.3
lm_eval @ git+https://github.com/EleutherAI/lm-evaluation-harness.git@ad3f4d0cad1cfcdb815f1e795f7947e49ed9f2e9
